.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.25rem 0;
}

.header p {
  font-size: 1.6rem;
  font-weight: bold;
  align-self: center;
  padding-left: 1rem;
}

.header img {
  width: 4rem;
}
